.row {
	margin-bottom: 1%;
}

#indicators-container {
	height: 30em;
	overflow-y: scroll;
}

.title {
	text-transform: uppercase;
	font-weight: bold;
}

.accordion section .title {
	background-color: white;
}

.section-container>section>.title a, abbr {
	color: #690;
}

.country-list {
	font-size: 8.6pt;
}