.row {
	margin-bottom: 1%;
}

#indicators-container {
	height: 30em;
	overflow-y: scroll;
}

.title {
	text-transform: uppercase;
	font-weight: bold;
}

.accordion section .title {
	background-color: white;
}

.section-container > section > .title a, abbr, #available-years {
	color: #690;
}

.country-list {
	font-size: 8.6pt;
}

#world-map {
	height: 30em;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #c92127;
	border: none;
	height: .8em;
	width: 20%;
	top: 0%;
	border-radius: 0px;
	margin-left: -10%;
}
.bgline {
	background: #E1E1E1;
	background-image: url('../img/bg-line.png');
	background-size: 100% cover;
}

.bgline-text {
	background: white;
}

.ui-corner-all {
	border-radius: 0px;
}

.ui-widget-content {
	margin-left: 8.33333%em;
	background: #fff;
	border: none;
}

.centered {
	text-align: center;
}

#year-selector {
	margin-left: 8.33333%;
	margin-right: 8.33333%;
	background: #ccc;
}

#year-selector-wrapper {
	background: #ccc;
}

#indicator-info p {
	font-size: .65em;
	text-align: justify;
}

#indicator-info h3, .rank-header .tendency-score {
	font-size: 1em;
}

#indicator-info h4, .rank-header {
	font-size: 0.65em;
	text-transform: uppercase;
	padding: 0;
	color: #6f6f6f;
}

.progress-score, .tendency-score {
	color: #000;
	font-size: 0.7em;
	font-weight: bold;
	text-align: right;
	padding: 0;
}

#indicator-info #rank {
	font-size: 1.75em;
	font-weight: bold;
	padding: .1em;
	margin-top: -.25em;
}

.indicator-rank {
	margin-top: .75em;
}
