<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' lang="en">
	<head>
		<meta name="viewport" content="width=device-width"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>World Wide Web Foundation</title>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../visualization.css" type="text/css" media="screen"></link>
	</head>
	<body>
		<div class="wrapper">
			<header class="main-header">
				<div class="data-bank">
					<h1>Data Portal</h1>
				</div>
				<img src="../img/W3F-logo.png" class="logo" alt="World Wide Web Foundation" />
			</header>
			<div class="main">				
				<div class="sidebar-menu">
					<nav>
						<ul>
							<li class="continent">
								Africa
							</li>
							<li class="continent">
								East Asia & Pacific
							</li>
							<li class="continent">
								Europe & Central Asia
							</li>
							<li class="continent">
								Latin America & Caribbean
							</li>
							<li class="continent">
								Middle East
							</li>
							<li class="continent">
								North America
							</li>
							<li class="continent">
								South Asia
							</li>
						</ul>
					</nav>
				</div>
				<div class="main-layout-index">
					<header>
						<nav class="indicator-filter-nav">
							<ul>
								<li class="web-index">
									<div></div>
									WEB INDEX (DRAFT)
								</li>
								<li class="universal">
									<div></div>
									Universal Access
								</li>
								<li class="freedom">
									<div></div>
									Freedom &amp; Openness
								</li>
								<li class="relevant">
									<div></div>
									Relevant Content
								</li>
								<li class="empowerment">
									<div></div>
									Empowerment
								</li>
							</ul>
						</nav>
						<nav class="filter-nav">
							<span class="label">Select a year</span>
							<ul>
								<li>
									<div></div>
									2007
								</li>
								<li>
									<div></div>
									2008
								</li>
								<li>
									<div></div>
									2009
								</li>
								<li>
									<div class="selected"></div>
									2010
								</li>
								<li>
									<div></div>
									2011
								</li>
								<li>
									<div></div>
									2012
								</li>
							</ul>
						</nav>
						<div class="column-left">
							<p class="breadcrumbs">
								Years &gt; 2010
							</p>
							<h1 class="country">2010</h1>
						</div>
						<div class="column-right">
						</div>
					</header>
					<h3 class="title"><span>WEB INDEX (DRAFT) Ranking</span></h3>
					<img alt="" src="../img/barras.png" style="width:100%;margin-bottom:2em;" />
					<h3 class="title"><span>WEB INDEX (DRAFT) Data</span></h3>
					<nav class="webindex-nav nav-centered">
						<ul>
							<li class="link one">
								<p>Empowerment</p>
							</li>
							<li class="link">
								<p>Relevant Content</p>
							</li>
							<li class="link">
								<p>Freedom &amp; Openness</p>
							</li>
							<li class="link selected">
								<p>Universal Access</p>
							</li>
						</ul>
					</nav>
					<div class="indicator-side-name">
						<span class="indicator-name">ITU G</span>
						<p class="indicator-description">
							<strong>Survey Question:</strong> To what extent are Web applications and services in areas such as health, education, security, budgets etc "built" on top of government data (i.e. there has been new and useful information and services derived from the published government data in those fields? [1 = none at all; 10 = extensive applications and services]
						</p>
						<p class="indicator-source">	
							Source: <a href="">Source</a>
						</p>
					</div>
					<table class="data data-year">
						<tr>
							<th>Country</th>
							<th>Value</th>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/france-mini.png" />
								France
							</td>
							<td class="value">
								<span class="number">100.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/portugal-mini.jpg" />
								Portugal
							</td>
							<td class="value">
								<span class="number">200.1</span>
								<span class="ranking">11</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/spain-mini.jpg" />
								Spain
							</td>
							<td class="value">
								<span class="number">300.1</span>
								<span class="ranking">14</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/uk-mini.png" />
								United Kingdom
							</td>
							<td class="value">
								<span class="number">400.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
					</table>
					<div class="indicator-side-name">
						<span class="indicator-name">WI D</span>
						<p class="indicator-description">
							<strong>Survey Question:</strong> To what extent are Web applications and services in areas such as health, education, security, budgets etc "built" on top of government data (i.e. there has been new and useful information and services derived from the published government data in those fields? [1 = none at all; 10 = extensive applications and services]
						</p>
						<p class="indicator-source">	
							Source: <a href="">Source</a>
						</p>
					</div>
					<table class="data data-year">
						<tr>
							<th>Country</th>
							<th>Value</th>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/france-mini.png" />
								France
							</td>
							<td class="value">
								<span class="number">100.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/portugal-mini.jpg" />
								Portugal
							</td>
							<td class="value">
								<span class="number">200.1</span>
								<span class="ranking">11</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/spain-mini.jpg" />
								Spain
							</td>
							<td class="value">
								<span class="number">300.1</span>
								<span class="ranking">14</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/uk-mini.png" />
								United Kingdom
							</td>
							<td class="value">
								<span class="number">400.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
					</table>
					<div class="indicator-side-name">
						<span class="indicator-name">ITU A</span>
						<p class="indicator-description">
							<strong>Survey Question:</strong> To what extent are Web applications and services in areas such as health, education, security, budgets etc "built" on top of government data (i.e. there has been new and useful information and services derived from the published government data in those fields? [1 = none at all; 10 = extensive applications and services]
						</p>
						<p class="indicator-source">	
							Source: <a href="">Source</a>
						</p>
					</div>
					<table class="data data-year">
						<tr>
							<th>Country</th>
							<th>Value</th>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/france-mini.png" />
								France
							</td>
							<td class="value">
								<span class="number">100.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/portugal-mini.jpg" />
								Portugal
							</td>
							<td class="value">
								<span class="number">200.1</span>
								<span class="ranking">11</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/spain-mini.jpg" />
								Spain
							</td>
							<td class="value">
								<span class="number">300.1</span>
								<span class="ranking">14</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/uk-mini.png" />
								United Kingdom
							</td>
							<td class="value">
								<span class="number">400.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
					</table>
					<div class="indicator-side-name">
						<span class="indicator-name">ITU O</span>
						<p class="indicator-description">
							<strong>Survey Question:</strong> To what extent are Web applications and services in areas such as health, education, security, budgets etc "built" on top of government data (i.e. there has been new and useful information and services derived from the published government data in those fields? [1 = none at all; 10 = extensive applications and services]
						</p>
						<p class="indicator-source">	
							Source: <a href="">Source</a>
						</p>
					</div>
					<table class="data data-year">
						<tr>
							<th>Country</th>
							<th>Value</th>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/france-mini.png" />
								France
							</td>
							<td class="value">
								<span class="number">100.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/portugal-mini.jpg" />
								Portugal
							</td>
							<td class="value">
								<span class="number">200.1</span>
								<span class="ranking">11</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/spain-mini.jpg" />
								Spain
							</td>
							<td class="value">
								<span class="number">300.1</span>
								<span class="ranking">14</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/uk-mini.png" />
								United Kingdom
							</td>
							<td class="value">
								<span class="number">400.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
					</table>
					<div class="indicator-side-name">
						<span class="indicator-name">ITU L</span>
						<p class="indicator-description">
							<strong>Survey Question:</strong> To what extent are Web applications and services in areas such as health, education, security, budgets etc "built" on top of government data (i.e. there has been new and useful information and services derived from the published government data in those fields? [1 = none at all; 10 = extensive applications and services]
						</p>
						<p class="indicator-source">	
							Source: <a href="">Source</a>
						</p>
					</div>
					<table class="data data-year">
						<tr>
							<th>Country</th>
							<th>Value</th>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/france-mini.png" />
								France
							</td>
							<td class="value">
								<span class="number">100.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/portugal-mini.jpg" />
								Portugal
							</td>
							<td class="value">
								<span class="number">200.1</span>
								<span class="ranking">11</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/spain-mini.jpg" />
								Spain
							</td>
							<td class="value">
								<span class="number">300.1</span>
								<span class="ranking">14</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/uk-mini.png" />
								United Kingdom
							</td>
							<td class="value">
								<span class="number">400.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
					</table>					
					<div class="indicator-side-name">
						<span class="indicator-name">WB A</span>
						<p class="indicator-description">
							<strong>Survey Question:</strong> To what extent are Web applications and services in areas such as health, education, security, budgets etc "built" on top of government data (i.e. there has been new and useful information and services derived from the published government data in those fields? [1 = none at all; 10 = extensive applications and services]
						</p>
						<p class="indicator-source">	
							Source: <a href="">Source</a>
						</p>
					</div>
					<table class="data data-year">
						<tr>
							<th>Country</th>
							<th>Value</th>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/france-mini.png" />
								France
							</td>
							<td class="value">
								<span class="number">100.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/portugal-mini.jpg" />
								Portugal
							</td>
							<td class="value">
								<span class="number">200.1</span>
								<span class="ranking">11</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/spain-mini.jpg" />
								Spain
							</td>
							<td class="value">
								<span class="number">300.1</span>
								<span class="ranking">14</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/uk-mini.png" />
								United Kingdom
							</td>
							<td class="value">
								<span class="number">400.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
					</table>				
					<div class="indicator-side-name">
						<span class="indicator-name">IEAA</span>
						<p class="indicator-description">
							<strong>Survey Question:</strong> To what extent are Web applications and services in areas such as health, education, security, budgets etc "built" on top of government data (i.e. there has been new and useful information and services derived from the published government data in those fields? [1 = none at all; 10 = extensive applications and services]
						</p>
						<p class="indicator-source">	
							Source: <a href="">Source</a>
						</p>
					</div>
					<table class="data data-year">
						<tr>
							<th>Country</th>
							<th>Value</th>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/france-mini.png" />
								France
							</td>
							<td class="value">
								<span class="number">100.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/portugal-mini.jpg" />
								Portugal
							</td>
							<td class="value">
								<span class="number">200.1</span>
								<span class="ranking">11</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/spain-mini.jpg" />
								Spain
							</td>
							<td class="value">
								<span class="number">300.1</span>
								<span class="ranking">14</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/uk-mini.png" />
								United Kingdom
							</td>
							<td class="value">
								<span class="number">400.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
					</table>	
					<div class="indicator-side-name">
						<span class="indicator-name">ITU K</span>
						<p class="indicator-description">
							<strong>Survey Question:</strong> To what extent are Web applications and services in areas such as health, education, security, budgets etc "built" on top of government data (i.e. there has been new and useful information and services derived from the published government data in those fields? [1 = none at all; 10 = extensive applications and services]
						</p>
						<p class="indicator-source">	
							Source: <a href="">Source</a>
						</p>
					</div>
					<table class="data data-year">
						<tr>
							<th>Country</th>
							<th>Value</th>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/france-mini.png" />
								France
							</td>
							<td class="value">
								<span class="number">100.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/portugal-mini.jpg" />
								Portugal
							</td>
							<td class="value">
								<span class="number">200.1</span>
								<span class="ranking">11</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/spain-mini.jpg" />
								Spain
							</td>
							<td class="value">
								<span class="number">300.1</span>
								<span class="ranking">14</span>
							</td>
						</tr>
						<tr>
							<td class="indicator-country">
								<img alt="" class="flag" src="../img/uk-mini.png" />
								United Kingdom
							</td>
							<td class="value">
								<span class="number">400.1</span>
								<span class="ranking">8</span>
							</td>
						</tr>
					</table>
					
				</div>
				<footer class="map">
					<ul>
						<li class="general" style="background-color:#000">
							WEB INDEX (DRAFT)
						</li>	
						<li class="general" style="background-color:#116699">
							Universal Access
							<ul>
								<li>Communications Infrastructure</li>
								<li>Access &amp; Affordability</li>
								<li>Education &amp; Awareness</li>
							</ul>
						</li>
						<li class="general" style="background-color:#88CC22">
							Freedom &amp; Openness
							<ul>
								<li>Freedom</li>
								<li>Openness</li>
							</ul>
						</li>
						<li class="general" style="background-color:#CC2222">
							Relevant Content
							<ul>
								<li>Content Creation</li>
								<li>Web Use</li>
							</ul>
						</li>
						<li class="general" style="background-color:#EEAA11">
							Empowerment
							<ul>
								<li>Economic Impact</li>
								<li>Political Impact</li>
								<li>Social &amp; Environmental Impact</li>
							</ul>
						</li>
					</ul>
				</footer>
			</div>
			<footer class="general">
				<span>&copy; 2013 World Wide Web Foundation.</span>
			</footer>
		</div>
	</body>
</html>