<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' lang="en">
	<head>
		<meta name="viewport" content="width=device-width"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>World Wide Web Foundation</title>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="visualization.css" type="text/css" media="screen"></link>
	</head>
	<body>
		<div class="wrapper">
			<header class="main-header">
				<div class="data-bank">
					<h1>Data Portal</h1>
					<h2>Comparer</h2>
				</div>
				<img src="img/W3F-logo.png" class="logo" alt="World Wide Web Foundation" />
			</header>
			<div class="main">		
				<div class="comparer-container">
					<div class="message">
						You have selected Spain. There are 3 selected countries. You can click on each one to unselect.
					</div>	
					<div class="column">
						<div class="circle-step">1</div>
						<p class="description">
							Select ONE or MORE countries.
						</p>
						<nav class="country-selector">
							<ul>
								<li class="continent">
									<div></div>
									<span>Africa</span>
									<div class="counter invisible">0</div>
								</li>
								<li class="continent">
									<div></div>
									<span>East Asia & Pacific</span>
									<div class="counter invisible">0</div>
								</li>
								<li class="continent continent-selected">
									<div></div>
									<span>Europe & Central Asia</span>
									<div class="counter">1</div>
									<ul>
										<li class="country"><img alt="" class="flag" src="img/france-mini.png" />France</li>
										<li class="country"><img alt="" class="flag" src="img/portugal-mini.jpg" />Portugal</li>
										<li class="country flag-selected"><img alt="" class="flag" src="img/spain-mini.jpg" />Spain</li>
										<li class="country"><img alt="" class="flag" src="img/uk-mini.png" />United Kingdom</li>
									</ul>
								</li>
								<li class="continent">
									<div></div>
									<span>Latin America & Caribbean</span>
									<div class="counter invisible">0</div>
								</li>
								<li class="continent">
									<div></div>
									<span>Middle East</span>
									<div class="counter invisible">0</div>
								</li>
								<li class="continent">
									<div>&#10005;</div>
									<span>North America</span>
									<div class="counter">2</div>
								</li>
								<li class="continent">
									<div></div>
									<span>South Asia</span>
									<div class="counter invisible">0</div>
								</li>
							</ul>
						</nav>
					</div>
					<div class="column middle">
						<div class="circle-step">2</div>
						<p class="description">
							Select ONE or MORE indicators.
						</p>
							<nav class="indicator-selector">
								<ul>
									<li class="general">
										<div></div>
										Web Index	
										<ul>
											<li class="general universal">
												<div style="background-color:#116699;border-color:#116699;"></div>
												Universal Access
												<ul>
													<li>
														<div style="background-color:#116699;border-color:#116699;"></div>
														Communications Infrastructure
													</li>
													<li>
														<div style="background-color:#116699;border-color:#116699;"></div>
														Access &amp; Affordability
													</li>
													<li>
														<div style="background-color:#116699;border-color:#116699;"></div>
														Education &amp; Awareness
													</li>
												</ul>
											</li>
											<li class="general freedom">
												<div></div>
												Freedom &amp; Openness
												<ul>
													<li>
														<div></div>
														Freedom
													</li>
													<li>
														<div></div>
														Openness
													</li>
												</ul>
											</li>
											<li class="general content">
												<div></div>
												Relevant Content
												<ul>
													<li>
														<div></div>
														Content Creation
													</li>
													<li>
														<div></div>
														Web Use
													</li>
												</ul>
											</li>
											<li class="general empowerment">
												<div></div>
												Empowerment
												<ul>
													<li>
														<div></div>
														Economic Impact
													</li>
													<li>
														<div></div>
														Political Impact
													</li>
													<li>
														<div></div>
														Social &amp; Environmental Impact
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
					</div>
					<div class="column">
						<div class="circle-step">3</div>
						<p class="description">
							Select ONE or MORE years.
						</p>
						<ul class="year-selector">
							<li class="selected">
								<div></div>
								2012
							</li>
							<li>
								<div></div>
								2011
							</li>
							<li>
								<div></div>
								2010
							</li>
							<li>
								<div></div>
								2009
							</li>
							<li>
								<div></div>
								2008
							</li>
							<li>
								<div></div>
								2007
							</li>
						</ul>
					</div>
					<div class="compare">
						<div class="summary">
							<p><strong>Selected countries:</strong> Spain, North America</p>
							<p><strong>Selected indicators:</strong> Universal Access</p>
							<p><strong>Selected years:</strong> 2012</p>
						</div>
						<div class="buttons">
							<button class="clear">Clear</button> <button>Compare</button>
						</div>
					</div>
				</div>
			</div>
			<footer class="general">
				<span>&copy; 2013 World Wide Web Foundation.</span>
			</footer>
		</div>
	</body>
</html>