body {
	line-height: 1.5;	
	font-family: 'trebuchet MS', verdana, arial, sans-serif;
	
	margin: 0 auto;
	width: 80%;
	background-color: #ccc;
	background-image: url('img/bg.png');
	background-attachment: fixed;
}

div.wrapper {
	background-color: #fff;
	padding: 1em 1em 0 2em;
	box-shadow: 0 0.1em 0.2em #333;
}

img.logo {
	margin-top: -1em;
	margin-left: -2em;
}

div.data-bank {
	width: 40%;
	float: right;
}

div.data-bank h1 {
	color: #116699;	
	text-align: right;
	margin: -0.5em 0 0 0;
	padding-right: 0;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 0.2em;
	font-family: 'Source Sans Pro', sans-serif;
}

div.data-bank h2 {
	color: #000;	
	text-align: right;
	margin: -0.3em 0 0 0;
	padding-right: 0;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 0.2em;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2.5em;
}

header.main-header {
	border-bottom: 0.1em solid #ccc;
	padding-bottom: 2em;
}

.sidebar-menu {
	width: 22%;
	float: right;
	text-align: center;
}

.sidebar-menu ul.circles {
	text-align: center;
}

.sidebar-menu li.circle {
	list-style-type: none;
	width: 3.5em;
	height: 2.6em;
	border: 0.1em solid #ccc;
	border-radius: 1.85em;
	font-size: 0.8em;
	text-align: center;
	padding-top: 0.9em;
	color: #888;
	margin: 0 auto;
	margin-bottom: 1em;
}

.sidebar-menu li.country {
	list-style-type: none;
	margin-bottom: 2em;
	text-align: left;
	font-size: 0.7em;
	color: #888;
}

.sidebar-menu li.continent {
	list-style-type: none;
	margin-bottom: 1em;
	text-align: left;
	font-size: 0.8em;
	color: #888;
	text-transform: uppercase;
}

.sidebar-menu li.continent-selected {
	color: #333;
}

.sidebar-menu li.continent ul {
	margin-top: 1em;
}

.sidebar-menu li.country img {
	opacity: 0.4;
}

.sidebar-menu li.flag-selected {
	color: #333;
}

.sidebar-menu li.flag-selected img {
	opacity: 1;
}

.sidebar-menu li.selected {
	background-color: #b3c951;
	border-color: #b3c951;
	color: #fff;
}

.main-layout-index {
	width: 77%;
	margin-top: 0;
}

.main-layout-index header {
	margin-bottom: 2em;
	overflow: auto;
}

.main-layout-index .country {
	font-size: 1.5em;
	margin: 0;
}

.main-layout-index .region {
	font-size: 1em;
	margin: 0;
	color: #116699;
}

.main-layout-index .column-left {
	width: 60%;
	float: left;
}

.main-layout-index .column-right {
	width: 40%;
	float: right;
	text-align: right;
}

p.breadcrumbs {
	margin: 0;
	font-size: 0.7em;
	text-transform: uppercase;
	color: #555;
}

table.data {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	margin-top: 1em;
	margin-bottom: 2em;
}

table.data th {
	border-bottom: 0.1em solid #116699;
	color: #116699;
	font-weight: 1000;
}

table.data td.indicator {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

table.data td.indicator-country {
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}

td.indicator {
	text-align: center;
}

td.indicator-country {
	text-align: left;
	padding-left: 1em;
	vertical-align: text-top;
}

td.indicator span {
	display: inline-block;
	background-color: #116699;
	border: 0.5em solid #fff;
	color: #fff;
	width: 3em;
	height: 2.2em;
	padding-top: 0.8em;
	border-radius: 2em;
	vertical-align: middle;
}

img.flag {
	width: 2.5em;
	height: 2.5em;
	box-shadow: 0 0 0.2em #333;
	border-radius: 1.35em;
	vertical-align: middle;
	margin-right: 1em;
}

td.value {
	padding-left: 4em;
}

td.value {
	padding-right: 4em;
	text-align: center;
}

td.value span.number {
	display: inline-block;
	width: 3em;
	text-align: right;
	font-size: 1.5em;
	font-weight: 300;
}

td.value span.ranking {
	display: inline-block;
	background-color: #fff;
	border: 0.1em solid #C4262E;
	font-weight: 100;
	font-size: 0.8em;
	color: #C4262E;
	width: 1.5em;
	height: 1.4em;
	padding-top: 0.1em;
	border-radius: 1.25em;
	margin-left: 1em;
	text-align: center;
}

img.country-flag, img.country-map {
	width: 4.5em;
	height: 4.5em;
	border-radius: 2.25em;
}

img.country-map {
	background-color: #eee;
}

h3.title {
	background: #fff;
	padding: 0 0.5em 0 0;
	position: relative;
	z-index: 5;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #116699;
	font-weight: 100;
	border-bottom: 0.13em solid #116699;
}

div.indicator-side-name {
	clear: both;
	width: 30%;
	float: left;
	text-align: center;
}

div.indicator-side-name span.indicator-name {
	display: inline-block;
	text-align: center;
	width: 4em;
	height: 2.7em;
	background-color: #116699;
	color: #fff;
	font-size: 2em;
	border-radius: 4em;
	padding-top: 1.3em;
}

div.indicator-side-name p.indicator-description {
	font-size: 0.7em;
	text-align: justify;
	color: #555;
}

div.indicator-side-name p.indicator-source {
	font-size: 0.8em;
	text-align: left;
	color: #333;
}

div.indicator-side-name p.indicator-source a {
	color: #116699;
}

table.data-year {
	width: 60%;
	float: right;
	margin-bottom: 5em;
}

.webindex-nav, .webindex-nav ul {
	overflow: auto;
	padding: 0;
}

.webindex-nav li {
	width: 6em;
	height: 4.8em;
	border: 0.1em solid #888;
	border-radius: 3em;
	list-style: none;
	color: #888;
	font-weight: 100;
	text-align: center;
	padding-top: 1.2em;
	float: left;
	margin-right: 1.2em;
}

.webindex-nav li.link {
	padding-top: 1.2em;
	height: 4.8em;
	float: right;
	margin-right: 0;
	margin-left: 1em;
}

.webindex-nav li.selected {
	background-color: #116699;
	border-color: #116699;
	color: #fff;
}

.webindex-nav li.one {
	padding-top: 1.6em;
	height: 4.4em;
}

.webindex-nav li.selected-value {
	border-color: #116699;
	color: #116699;
}

.webindex-nav li.link p {
	font-size: 0.8em;
	padding: 0 0.5em;
	text-align: center;
}

.webindex-nav div {
	margin: 0;
	padding: 0;
}

.webindex-nav .webindex-title {
	font-size: 0.6em;
	text-transform: uppercase;
}

.webindex-nav .webindex-rank {
	font-size: 2em;
	line-height: 1em;
}

.webindex-nav .webindex-score {
	font-size: 0.7em;
	text-transform: uppercase;
}

h3.index-title {
	color: #116699;
	font-weight: 600;
	font-size: 1.2em;
}

nav.indicator-filter-nav {
	overflow: auto;
	margin-top: 0em;
	margin-bottom: 1em;
}

nav.indicator-filter-nav ul {

	padding: 0;
}

nav.indicator-filter-nav li {
	float: left;
	list-style: none;
	font-size: 0.7em;
	margin: 0 2.5em 0.4em 0;
	text-align: center;
	color: #888;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

/* Web Index */

nav.indicator-filter-nav li.web-index {
	color: #000;
}

nav.indicator-filter-nav li.web-index div {
	border-color: #000;
}

nav.indicator-filter-nav li.selected div {
	background-color: #000;
}

/* Universal Access */

nav.indicator-filter-nav li.universal {
	color: #116699;
}

nav.indicator-filter-nav li.universal div {
	border-color: #116699;
}

nav.indicator-filter-nav li.universal div.selected {
	background-color: #116699;
}

/* Freedom & Openness */

nav.indicator-filter-nav li.freedom {
	color: #006644;
}

nav.indicator-filter-nav li.freedom div {
	border-color: #006644;
}

/* Relevant Content */

nav.indicator-filter-nav li.relevant {
	color: #882222;
}

nav.indicator-filter-nav li.relevant div {
	border-color: #882222;
}

/* Empowerment */

nav.indicator-filter-nav li.empowerment {
	color: #EE6611;
}

nav.indicator-filter-nav li.empowerment div {
	border-color: #EE6611;
}

nav.indicator-filter-nav li div {
	width: 1.5em;
	height: 1.5em;
	border: 0.1em solid #ccc;
	border-radius: 0.85em;
	margin-right: 1em;
	float: left;
}

nav.filter-nav {
	clear: both;
	overflow: auto;
	margin: 0 auto 1.5em auto;
	padding: 0;
	width: 25em;
}

nav.filter-nav span.label {
	float: left;
	font-size: 0.7em;
	margin-right: 1em;
	padding-top: 0.4em;
	font-style: italic;
	color: #888;
}

nav.filter-nav ul {
	float: left;
	margin: 0;
	padding: 0;
}

nav.filter-nav li {
	float: left;
	list-style: none;
	font-size: 0.7em;
	margin: 0 1em;
	text-align: center;
	color: #888;
}

nav.filter-nav li div {
	width: 2em;
	height: 2em;
	border: 0.1em solid #888;
	border-radius: 1.1em;
	margin: 0 auto;
}

nav.filter-nav li div.selected {
	background-color: #333;
}

nav.indicators ul {
	padding: 0;
	margin-top: 0;
	overflow: auto;
	margin: 0 auto 2em auto;
	width: 33em;
}

nav.indicators li {
	float: left;
	width: 3em;
	height: 2.2em;
	border: 0.1em solid #116699;
	border-radius: 1.6em;
	text-align: center;
	color: #116699;
	list-style: none;
	margin-right: 1em;
	padding-top: 0.8em;
}

nav.indicators li.selected {
	background-color: #116699;
	color: #fff;
}

ul.indicator-list {
	margin-top: 1em;
	padding: 0;
}

ul.indicator-list li {
	list-style: none;
	font-size: 0.8em;
	font-weight: 100;
	text-align: left;
	margin-bottom: 1em;
	padding-left: 0.5em;
	border-left: 1.4em solid #fff;
}

ul.indicator-list > li {
	text-transform: uppercase;
	margin-bottom: 1.5em;
}

ul.indicator-list li ul {
	padding-left: 0em;
	margin-left: 2em;
	text-transform: none;
	margin-top: 1em;
}

ul.indicator-list li.selected {
	background-color: #fff;
	border-left: 1.4em solid #99ca3c;
	color: #7D9900
}

ul.indicator-list li.closed {
	color: #888;
}

nav.nav-centered {
	width: 29em;
	margin: 0 auto 2em auto;
}

div.values {
	width: 70%;
	margin: 0 auto 3em auto;
	overflow: auto;
}

div.circle {
	font-size: 3em;
	width: 3em;
	height: 2.3em;
	padding-top: 0.7em;
	border-radius: 1.5em;
	color: #fff;
	text-align: center;
	margin: 0 auto 0.5em auto;
}

div.ranking {
	background-color: #116699;
}

div.score {
	background-color: #666;
}

div.left {
	float: left;
	width: 10em;
	text-align: center;
}

div.left span {
	color: #116699;
}

div.right {
	float: right;
	width: 10em;
	text-align: center;
}

div.right span {
	color: #666;
}

div.values span {
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 0.2em;
}

/* Footer map */

footer.map {
	overflow: auto;
	margin-left: -2em;
	margin-right: -1em;
	margin-top: 4em;
	background-color: #EEAA11;
}

footer.map ul {
	overflow: auto;
	width: 100%;
	padding: 0;
	margin: 0;
}

footer.map ul li.general {
	float: left;
	list-style: none;
	width: 16%;
	height: 6em;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #fff;
	text-align: left;
	padding: 2em 2%;
	letter-spacing: 0.1em;
}

footer.map li li {
	font-size: 0.8em;
	text-transform: none;
}

footer.general {
	background-color: #222;
	color: #fff;
	margin-left: -2em;
	margin-right: -1em;
	padding: 0.5em 1em;
}

footer.general span {
	font-size: 0.8em;
	letter-spacing: 0.1em;
}

/* Comparer */

div.comparer-container {
	padding: 0;
	margin-top: 1em;
}

div.comparer-container h3 {
	letter-spacing: 0.2em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
	font-size: 2em;
	text-transform: uppercase;
	margin: 0.5em 0;
}

div.comparer-container div.column {
	width: 31.33%;
	float: left;
}

div.comparer-container div.middle {
	margin-left: 2%;
	margin-right: 2%;
}

div.comparer-container div.compare {
	clear: both;
	padding-bottom: 2em;
	text-align: center;
	padding-top: 1em;
}

div.comparer-container div.compare button {
	width: 33%;
	font-size: 2em;
	margin: 0.5em auto;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	font-weight: 100;
	letter-spacing: 0.2em;
	font-family: "Century Gothic", Arial;
	border: none;
	padding: 0.5em 0;
}

.country-selector ul.circles {
	text-align: center;
}

.country-selector li.circle {
	list-style-type: none;
	width: 3.5em;
	height: 2.6em;
	border: 0.1em solid #ccc;
	border-radius: 1.85em;
	font-size: 0.8em;
	text-align: center;
	padding-top: 0.9em;
	color: #888;
	margin: 0 auto;
	margin-bottom: 1em;
}

.country-selector li.country {
	list-style-type: none;
	margin-bottom: 2em;
	text-align: left;
	font-size: 0.7em;
	color: #888;
}

.country-selector li.continent {
	list-style-type: none;
	margin-bottom: 1em;
	text-align: left;
	font-size: 0.8em;
	color: #888;
	text-transform: uppercase;
}

.country-selector li.continent-selected {
	color: #333;
}

.country-selector li.continent ul {
	margin-top: 1em;
}

.country-selector li.country img {
	opacity: 0.4;
}

.country-selector li.flag-selected {
	color: #333;
}

.country-selector li.flag-selected img {
	opacity: 1;
}

.country-selector li.selected {
	background-color: #b3c951;
	border-color: #b3c951;
	color: #fff;
}

div.circle-step {
	font-size: 2em;
	width: 2em;
	height: 1.75em;
	padding-top: 0.25em;
	border-radius: 1.5em;
	background-color: #333;
	color: #fff;
	text-align: center;
	margin: 0 auto;
}

p.description {
	text-align: center;
	color: #333;
	font-family: "Century Gothic", Arial;
	font-style: italic;
	border-bottom: 0.1em solid #ccc;
	padding-bottom: 0.5em;
}

nav.indicator-selector {
	color: #333;
}

nav.indicator-selector ul {
	margin: 0;
	padding: 0;
}

nav.indicator-selector li {
	list-style: none;
	padding: 0.4em 0;
	font-size: 0.9em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

nav.indicator-selector li li {
	padding-left: 3em;
	text-transform: none;
	letter-spacing: 0em;
}

nav.indicator-selector div {
	width: 1.4em;
	height: 1.4em;
	border: 0.1em solid #888;
	border-radius: 0.75em;
	float: left;
	margin-right: 0.5em;
}
/*
nav.indicator-selector li.universal {
	color: #116699;
}

nav.indicator-selector li.universal div {
	border-color: #116699;
}

nav.indicator-selector li.freedom {
	color: #006644;
}

nav.indicator-selector li.freedom div {
	border-color: #006644;
}

nav.indicator-selector li.content {
	color: #882222;
}

nav.indicator-selector li.content div {
	border-color: #882222;
}

nav.indicator-selector li.empowerment {
	color: #DAA427;
}

nav.indicator-selector li.empowerment div {
	border-color: #DAA427;
}
*/
/* Year selector */

ul.year-selector {
	padding: 0;
}

ul.year-selector li {
	list-style: none;
	text-align: center;
	color: #888;
	font-size: 1em;
	margin-bottom: 1em;
}

ul.year-selector li div {
	width: 2em;
	height: 2em;
	border: 0.1em solid #ccc;
	border-radius: 1.05em;
	margin: 0 auto;
}

ul.year-selector li.selected {
	color: #333;
}

ul.year-selector li.selected div {
	background-color: #CC2222;
}

/* Country selector */

li.continent {

}

li.continent span {
	margin-right: 1em;
}

li.continent div {
	width: 1.4em;
	height: 1.4em;
	border: 0.1em solid #888;
	border-radius: 0.75em;
	float: left;
	margin-right: 0.5em;
	color: #666;
	text-align: center;
	padding: 0;
}

li.continent div.counter {
	float: none;
	margin-right: 0;
	background-color: #CC2222;
	border-color: #CC2222;
	color: #fff;
	display: inline-block;
}

li.continent div.invisible {
	visibility: hidden;
}

nav.country-selector > ul {
	padding: 0;
}